{% extends "base.html" %}

{% block title %}Fakesford{% endblock %}

{% block content %}

<h1 class="display-1 text-center" style="margin-top: 150px">You are</h1>

<div class=container style="margin-top: 150px">
    <div class=row>
        <div class="col-sm" align=right style="margin-right: 250px">
            <a class="btn disabled" style="background-color: #ddd" href="/pupils" role="link"><h1 class="display-4">Pupil</h1></a>
        </div>
        <div class="col-sm" align=left style="margin-left: 250px">
            <a class="btn btn-primary" href="/tutors" role="link"><h1 class="display-4">Tutor</h1></a>
        </div>
    </div>
</div>
{% endblock %}
